<div class="footer">
	<ul class="nav-pills">
		<li ng-class="{ active: $state.includes('packages.list') }">
			<a ui-sref="packages.list">
				Packages
			</a>
		</li>
		<li ng-class="{ active: $state.includes('repositories.list') }">
			<a ui-sref="repositories.list">
				 Repositories
			</a>
		</li>
		<li ng-class="{ active: $state.includes('credits') }">
			<a ui-sref="credits">
				 Credits
			</a>
		</li>
		<li ng-class="{ active: $state.includes('settings') }">
			<a ui-sref="settings">
				Settings
			</a>
		</li>
	</ul>
</div>
