<div ng-controller="PackageListCtrl">
	<div class="header">
		<div class="mangrove-logo"
			 ng-show="search"></div>
		<div class="mangrove-logo-big"
			 ng-hide="search"></div>
		<div class="spinwrapper">
			<div id="spinner"
				 ng-show="inprogress"></div>
		</div>
		<input type="text"
			   class="input-xlarge form-inline"
			   ng-model="search"
			   ng-change="filter(search)"
			   ng-hide="ready"
			   placeholder="What do you want to install?"
			   autofocus/>
		<hr ng-show="search" />
	</div>
	<div id="mangrove-install"
		 ng-show="installList.length > 0">
		<pre>Number of packages selected: {{install.length}}</pre>
		<progress value="stacked"></progress>
		<h4>Downloading</h4>
		<h4>Installing</h4>
		<button class="btn btn-primary"
				type="button"
				ng-click="random()">Download &amp; Install</button>
		<hr />
	</div>
	<div class="packagelist"
		 ng-show="search.length > 0">
		<div class="no-results"
			 ng-hide="packages.length">No Results</div>
		<div class="package"
			 ng-repeat="package in packages">
			<button type="button"
					class="btn pull-right"
					ng-model="checkModel.left"
					btn-checkbox>Install</button>
			<h4>{{package.name}}</h4>
			<p>{{package.description}}</p>
		</div>
	</div>
</div>
