<td>{{ source.vendor }}</td>
<td>{{ source.url }}</td>
<div ng-if="source.status=='require-auth'">
	<p>This source requires you to authenticate yourself with a passphrase</p>
	<input ng-model="source.passphrase">
	<button class="btn btn-info" ng-click="authenticate()"></button>
</div>
<div ng-if="source.status=='ready'">
	<button class="btn btn-info" ng-click="configure()"></button>
</div>


<div ng-controller="SourceCtrl" ng-cloak>
	<h2>
		<span ng-show="source.name">{{source.name}}</span>
		<span class="pull-right">
			<button class="btn btn-xs btn-success" ng-click="editmode=true" ng-hide="editmode">edit</button>
			<button class="btn btn-xs btn-warning" ng-click="editmode=false" ng-show="editmode && source.id">done</button>
			<button class="btn btn-xs btn-warning" ng-click="editmode=false;add(source)" ng-show="editmode && !source.id">save</button>
			<button class="btn btn-xs btn-danger" mg-confirm-click="remove(source.id)" ng-hide="editmode">remove</button>
		</span>
	</h2>
	<hr>
	<div ng-hide="editmode">
		<h3>Hotbox Details</h3>
		<div class="row">
			<div class="col-md-6">
				<p>Handle: <strong>{{source.handle}}</strong></p>
				<p>Repository: <strong>{{source.repo}}</strong></p>
			</div>
			<div class="col-md-6">
				<p>Root: <strong>{{source.root}}</strong></p>
				<p>DB Prefix: <strong>{{source.dbprefix}}</strong></p>
			</div>
		</div>
	</div>
	<div ng-show="editmode">
		<form>
			<p>
				<label for="source-name">Name</label>
				<input class="form-control" id="source-name" ng-model="source.name">
			</p>
			<h3>Hotbox Details</h3>
			<div class="row">
				<div class="col-md-6">
					<p>
						<label for="source-handle">Handle</label>
						<input class="form-control" id="source-handle" ng-model="source.handle">
					</p>
					<p>
						<label for="source-repo">Repository</label>
						<input class="form-control" id="source-repo" ng-model="source.repo">
					</p>

				</div>
				<div class="col-md-6">
					<p>
						<label for="source-root">Root</label>
						<input class="form-control" id="source-root" ng-model="source.root">
					</p>
					<p>
						<label for="source-dbprefix">DB Prefix</label>
						<input class="form-control" id="source-dbprefix" ng-model="source.dbprefix">
					</p>
				</div>
			</div>
		</form>
	</div>
</div>
