body {
	margin: 10px;
}

#element-box {
	background-image: url("../img/arches.png");
	margin-bottom: 0;
	border-radius: 0 0 10px 10px;
}

#element-box,
#toolbar-box,
#submenu-box {
	font-size: 14px;
}

.mangroveApp {
	padding: 2%;
}

.mangroveApp > .container {
	background: rgba(255, 255, 255, 0.7);
	box-shadow:
		4px 8px 5px rgba(127, 127, 127, 0.1),
		-4px 8px 5px rgba(127, 127, 127, 0.1),
		0 -2px 2px rgba(127, 127, 127, 0.25) inset,
		0 -1px 2px rgba(127, 127, 127, 0.25) inset;
	overflow: hidden;
	border-radius: 3px;
	padding: 24px;
}

.mangroveApp .container a {
	color: #79a127;
}

.mangroveApp .container a:hover {
	color: #405e1e;
}

.mangroveApp .container a:active,
.mangroveApp .container a:focus {
	color: #2d4513;
	outline: none;
}

.mangrove-logo-big {
	position: relative;
	width: 100%;
	height: 170px;
	background: url(../img/mangrove-logo.png) center center no-repeat;
	margin: 60px 0 40px;
}

.mangrove-logo {
	width: 260px;
	height: 90px;
	background: url(../img/mangrove-logo-small.png) center center no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	margin-left: -12px;
}

.valanx-logo {
	width: 100%;
	height: 140px;
	background: url(../img/valanx-logo.png) center center no-repeat;
	margin: 40px 0 20px;
}

.centerpiece {
	margin-top: 15%;
	text-align: center;
}

.header {
	margin: 24px auto;
	text-align: center;
}

.header hr {
	margin: 20px 5%;
}

.spinwrapper {
	display: inline-block;
	margin-top: 3px;
	vertical-align: middle;
	margin-left: -16px;
	width: 28px;
}

.header input {
	margin: 10px 0;
}

.mangrove-header-big {
	text-align: center;
}

#mangrove-credits {
	text-align: center;
}

.packagelist {
	padding: 0 10%;
}

.package {
	position: relative;
	overflow: hidden;
	height: 60px;
}

.footer {
	margin: 20px 0 4px;
}

.footer .nav-pills > li {
	float: none;
	display: inline-block;
	*display: inline; /* ie7 fix */
	zoom: 1; /* hasLayout ie7 trigger */
}

.footer .nav-pills {
	text-align: center;
}

#toolbar-box {
	display: none;
	height: 0;
}
