<div class="footer">
	<ul class="nav-pills">
		<li ng-class="{ active: $state.includes('applications.list') }">
			<a ui-sref="applications.list">
				Applications
			</a>
		</li>
		<li ng-class="{ active: $state.includes('sources.list') }">
			<a ui-sref="sources.list">
				 Sources
			</a>
		</li>
		<li ng-class="{ active: $state.includes('credits') }">
			<a ui-sref="credits">
				 Credits
			</a>
		</li>
		<li ng-class="{ active: $state.includes('settings') }">
			<a ui-sref="settings">
				Settings
			</a>
		</li>
	</ul>
</div>
