<h2>All Sources</h2>
<hr />
<div ng-if="loading" class="text-center">
	<span><i class="fa fa-spinner fa-spin"></i> Loading sources</span>
</div>

<div class="col-md-6 col-md-offset-3">
	<div ng-repeat="item in source" class="panel panel-primary animate-calm">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span ng-show="item.name == ''">Unnamed Source</span>
				<span ng-show="item.name != ''"><strong>{{item.name}}</strong></span>
				<span class="pull-right">
					<a class="btn btn-xs btn-success animate"
					   ng-click="source.detail({itemId:item.id})"
					   ng-hide="editmode || !item.id">configure</a>
				</span>
			</h3>
		</div>
		<div class="panel-body">
			{{item.url}}
		</div>
	</div>
</div>

<a ui-sref="source.detail({sourceId:0})"><i class="fa fa-plus"></i> add a new source</a>
