<div ng-controller="SourceCtrl" ng-cloak>
	<h2>
		<span ng-hide="item.name || item.id">New Source</span>
		<span ng-show="item.name == '' && item.id">Unnamed Source</span>
		<span ng-show="item.name">{{item.name}}</span>
		<span class="pull-right">
			<button class="btn btn-s btn-success animate"
					ng-click="editmode=true"
					ng-hide="editmode || !item.id">edit</button>
			<button class="btn btn-s btn-warning animate"
					ng-click="editmode=false"
					ng-show="editmode && item.id">done</button>
			<button class="btn btn-s btn-warning animate"
					ng-click="editmode=false;add(item, 'source')"
					ng-show="editmode && !item.id">save</button>
			<button class="btn btn-s btn-danger animate"
					mg-confirm-click="remove(item.id, 'source')"
					ng-hide="editmode || !item.id">remove</button>
			<button class="btn btn-s btn-danger"
					ui-sref="source.list"
					ng-show="editmode && !item.id">cancel</button>
		</span>
	</h2>
	<hr>
	<div ng-hide="editmode">
		<div class="row">
			<div class="col-md-6">
				<p>Server Url: <strong>{{item.url}}</strong></p>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</div>
	<div ng-show="editmode">
		<form>
			<p>
				<label for="source-name">Name</label>
				<input class="form-control" id="source-name" ng-model="item.name">
			</p>
			<p>
				<label for="source-url">URL</label>
				<input class="form-control" id="source-url" ng-model="item.url">
			</p>
		</form>
	</div>
	<br /><br /><br />
	<div class="col-md-6 col-md-offset-3" ng-if="item.id" ng-hide="editmode">

		<div class="panel animate-calm"
			 ng-class="{'panel-primary':status=='untainted', 'panel-success':status=='ready', 'panel-danger':status=='401'}">
			<div class="panel-heading">
				<h3 class="panel-title">
					<span ng-switch="status">
						<span ng-switch-default class="animate-calm">
							Not Yet Connected
						</span>
						<span ng-switch-when="401" class="animate-calm">
							Hold up, we'll need some more info
						</span>
						<span ng-switch-when="ready" class="animate-calm">
							Connection Ready
						</span>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div ng-switch="status">
					<div ng-switch-default class="animate-calm text-center">
						<a class="btn btn-success animate"
						   ng-click="init();"
						   ng-disabled="loading"
						   >
							<span ng-hide="loading" class="animate-calm">connect</span>
							<span ng-if="loading" class="animate-calm">
								<i class="fa fa-spinner fa-spin"></i> connecting...
							</span>
						</a>
					</div>
					<div ng-switch-when="401" class="animate-calm">
						<p>This source wants you authenticate with an account, a passphrase, or you can link up anonymously as a guest</p>
						<div class="text-center">
							<hr />
							<p>
								<a class="btn btn-success animate"
								   ng-click="init();"
								   ng-disabled="loading"
									>
									Thanks, I'll stay a guest for now
								</a>
								<br /><br />
								<span class="text-muted">(This will only give you restricted access)</span>
							</p>
							<hr />
							<p>Authenticate with:</p>

							<div class="col-md-6">
								<form>
									<br />
									<label for="passphrase" class="hidden-label">Passphrase</label>
									<input class="form-control"
										   id="passphrase"
										   ng-model="passphrase"
										   placeholder="Passphrase">
									<br /><br />
									<button type="button" class="btn btn-success" ng-click="authenticate(passphrase);">Submit</button>
								</form>
							</div>

							<div class="col-md-6">
								<form>
										<label for="auth-username" class="hidden-label">Username</label>
										<input class="form-control" id="auth-username" placeholder="Username">
										<label for="auth-password" class="hidden-label">Password</label>
										<input class="form-control" id="auth-password" placeholder="Password">
										<br />
										<button type="button" class="btn btn-success" ng-click="authenticate(passphrase);">Submit</button>
								</form>
							</div>

						</div>

					</div>
					<div ng-switch-when="ready" class="animate-calm">
						Ready
					</div>
			</div>
		</div>
		</div>
	</div>
</div>
